.container-main-all{
    min-height: 80dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: .8rem;
    padding: 1rem;
}
.container-main-all .container-article-page{
    width: 100%;
    max-width: 60rem;
    box-shadow: 2px 2px 10px rgb(228, 228, 228);
    padding: .8rem;

}
.container-main-all .container-article-page h1{
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
}
.container-main-all .container-article-page h2{
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 2rem
}
.container-main-all .container-article-page .container-image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 12rem;
    margin-top: 2rem;
}
.container-main-all .container-article-page .content-app{
    width: 100%;
    margin-top: 2rem;
}
.container-main-all .container-article-page .container-image img{
    width: max-content;
    height: auto;
    max-height: 12rem;
}





















.container-main-all .container-rigth{
    width: 18rem;
    height: 100%;
    box-shadow: 2px 2px 10px rgb(228, 228, 228);
}